.data_base_section {
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	gap: var(--s-5);

	min-width: 300px;
	padding: var(--s-6);

	border: 1px solid var(--icon-primary);
	border-radius: var(--s-2);
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	min-height: 44px;

	font: var(--font-h4-700);
}

.wrap {
	overflow-y: auto;
	flex-grow: 1;
	width: 100%;
}

.table {
	overflow-y: auto;
	width: 100%;
	border: 1px solid var(--icon-primary);
	border-top: none;
}

.table,
.tr,
.th,
.td {
	border-spacing: 0;
	background: var(--background-primary);
}

/* Ячейки шапки таблицы */
.th {
	position: sticky;
	z-index: 1;
	top: 0;

	padding-inline: var(--s-3);

	font: var(--font-p1-700);
	color: var(--text-primary);

	border-top: 1px solid var(--icon-primary);
	border-right: 1px solid var(--icon-primary);
	border-bottom: 1px solid var(--icon-primary);
}

/* размеры ячеек таблицы по их позиции */
.th:nth-child(1),
.td:nth-child(1) {
	position: relative;
	width: 5%;
}

.th:nth-child(2),
.td:nth-child(2) {
	width: 55%;
}

.th:nth-child(3),
.td:nth-child(3) {
	width: 40%;
}

.th:nth-child(4),
.td:nth-child(4) {
	display: none;
}

/* Ячейки тела таблицы */

.td {
	padding-inline: var(--s-3);

	font: var(--font-p1-400);
	color: var(--text-secondary);

	border-right: 1px solid var(--icon-primary);
	border-bottom: 1px solid var(--icon-primary);
}

.spinner {
	fill: var(--text-primary) !important;
}

.loading_btn {
	pointer-events: none;
}

.th div {
	display: flex;
	gap: var(--s-2);
	align-items: center;
	justify-content: space-between;
}

.td_filtered {
	cursor: pointer;
}

.td_filtered:hover {
	background: var(--background-secondary);
}

/* Блок с чекбоксами */
.checkboxes {
	display: flex;
	flex-direction: column;
	gap: var(--s-2);
}

.checkboxes label {
	cursor: pointer;
	display: flex;
	gap: var(--s-4);
	align-items: center;
}

.checkboxes label:hover {
	color: var(--red);
}

/* Кнопки сортировки */

.sort_btn {
	cursor: pointer;

	display: flex;
	align-content: center;
	justify-content: center;

	background: none;
	border: none;
	border-radius: var(--s-1);
}

.sort_btn svg {
	pointer-events: none;
	width: 16px;
	height: 16px;
	fill: var(--icon-primary);
}

.sort_btn:hover svg {
	fill: var(--red);
}

.active svg {
	fill: var(--green);
}

.grow {
	flex-grow: 1;
}

.hide {
	display: none;
}

.unvis {
	visibility: hidden;
}
