* {
	scroll-behavior: smooth;

	box-sizing: border-box;
	margin: 0;
	padding: 0;

	white-space: pre-wrap;
}

html,
body,
#root {
	--transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

	/* scroll-behavior: smooth; */

	/* overflow-x: auto;
	align-items: center; */
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	width: 100%;
	height: 100%;

	font: var(--font-p1-400);
	font-family: Arial, Helvetica, sans-serif;
	font-feature-settings: 'liga' off, 'clig' off;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-primary);

	background: var(--background-primary);
}

a {
	color: inherit;
	text-decoration: none;
}

.off {
	pointer-events: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
