.checkbox {
	cursor: pointer;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	width: 28px;
	min-width: 28px;
	height: 28px;
	min-height: 28px;

	font-size: 20px;

	background: none;
	border-radius: 4px;
}

.input {
	width: 0;
	min-width: 0;
	height: 0;
	min-height: 0;

	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none !important;
}

.ttt {
	cursor: pointer;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	color: var(--background-primary) !important;

	background: var(--background-primary);
	border: 2px solid var(--icon-primary);
	border-radius: 4px;
}

.input:checked ~ .ttt {
	color: var(--grey-100) !important;
	background: var(--background-accent);
	border: none;
}

.checkbox:hover {
	opacity: 0.7;
}

.checkbox:disabled {
	pointer-events: none;
	opacity: 0.5;
}
