.input {
	height: 44px;
	padding: var(--s-2) var(--s-3);

	font: var(--font-p1-400);
	color: var(--text-primary);

	background: var(--background-primary);
	border: none;
	border-radius: var(--s-2);
	outline: 1px solid var(--icon-primary);
}

.input:focus {
	outline: 1px solid var(--icon-secondary);
}

.input ::placeholder {
	opacity: 0.5;
}
