.get_data_section {
	display: flex;
	flex-direction: column;
	gap: var(--s-5);

	min-width: 300px;
	padding: var(--s-6);

	border: 1px solid var(--icon-primary);
	border-radius: var(--s-2);
}

.title {
	font: var(--font-h4-700);
}

.out {
	width: 100%;
	height: 44px;
	padding: var(--s-2) var(--s-3);

	font: var(--font-p1-400);
	color: var(--text-secondary);

	background: var(--background-primary);
	border: 1px solid var(--icon-primary);
	border-radius: var(--s-2);
}

.spinner {
	fill: var(--text-primary) !important;
}

.loading_btn {
	pointer-events: none;
}
