.switch_mode_section {
	display: flex;
	gap: var(--s-5);
	align-items: center;

	min-width: 300px;
	padding: var(--s-6);

	border: 1px solid var(--icon-primary);
	border-radius: var(--s-2);
}

.toggle {
	width: 100% !important;
	font: var(--font-p1-700);
}
