.home_page {
	display: grid;
	grid-template-areas: 'create_block table_block' 'get_block table_block' '. table_block';
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto 1fr;
	flex-grow: 1;
	gap: var(--s-6);

	width: 100%;
	padding: var(--s-6);

	background: var(--background-secondary);
	border: 1px solid var(--icon-secondary);
	border-radius: var(--s-2);
}

.create_block {
	grid-area: create_block;
}

.table_block {
	grid-area: table_block;
}

.get_block {
	grid-area: get_block;
}
