.button {
	cursor: pointer;

	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;

	height: 44px;
	min-height: 44px;
	padding-block: var(--s-2);
	padding-inline: var(--s-3);

	font: var(--font-p1-700);

	border: none;
	border-radius: var(--s-2);

	transition: var(--transition);
}

.button:disabled {
	pointer-events: none;
	opacity: 0.35;
}

.primary {
	color: var(--container-primary-content);
	background: var(--container-primary-background);
}

.primary svg {
	fill: var(--container-primary-content);
}

.primary:hover {
	color: var(--container-on-primary-content);
	background: var(--container-on-primary-background);
}

.primary:hover svg {
	fill: var(--container-on-primary-content);
}

.primary:active {
	color: var(--container-active-primary-content);
	background: var(--container-active-primary-background);
}

.primary:active svg {
	fill: var(--container-active-primary-content);
}

.secondary {
	color: var(--container-secondary-content);
	background: var(--container-secondary-background);
}

.secondary svg {
	fill: var(--container-secondary-content);
}

.secondary:hover {
	color: var(--container-on-secondary-content);
	background: var(--container-on-secondary-background);
}

.secondary:hover svg {
	fill: var(--container-on-secondary-content);
}

.secondary:active {
	color: var(--container-active-secondary-content);
	background: var(--container-active-secondary-background);
}

.secondary:active svg {
	fill: var(--container-active-secondary-content);
}

.tertiary {
	color: var(--container-tertiary-content);
	background: var(--container-tertiary-background);
}

.tertiary svg {
	fill: var(--container-tertiary-content);
}

.tertiary:hover {
	color: var(--container-on-tertiary-content);
	background: var(--container-on-tertiary-background);
}

.tertiary:hover svg {
	fill: var(--container-on-tertiary-content);
}

.tertiary:active {
	color: var(--container-active-tertiary-content);
	background: var(--container-active-tertiary-background);
}

.tertiary:active svg {
	fill: var(--container-active-tertiary-content);
}

.quaternary {
	color: var(--container-quaternary-content);
	background: var(--container-quaternary-background);
}

.quaternary svg {
	fill: var(--container-quaternary-content);
}

.quaternary:hover {
	color: var(--container-on-quaternary-content);
	background: var(--container-on-quaternary-background);
}

.quaternary:hover svg {
	fill: var(--container-on-quaternary-content);
}

.quaternary:active {
	color: var(--container-active-quaternary-content);
	background: var(--container-active-quaternary-background);
}

.quaternary:active svg {
	fill: var(--container-active-quaternary-content);
}
